<ul>
  <li *ngFor="let c of courseList">
      <button>{{c['name']}}</button>
      <div *ngFor="let u of c['units']; let i = index">
        <button style="color:white;background-color:steelblue;" (click)="generateExam(c['cod'], u['cod'])">- unit {{i+1}}: {{u['name']}}</button>
      </div>
  </li>
</ul>
<div *ngIf="show==1">
  <div *ngFor="let e of examData; let i = index">
      <p>{{i+1}}) {{e['question']}}</p>
      <div *ngFor="let op of e['options'] | keys">
         
                  <input type="radio" name="{{i}}" [(ngModel)]="radioValue[i]" value={{op.value}}>
                  <label>{{op.key}}- {{op.value}}</label>
                
        </div>
        <div [ngClass]="radioValue[i]!=undefined?(radioValue[i]==e['solution']?'greenColor':'redColor'):'blueColor'">{{radioValue[i]!=undefined?(radioValue[i]==e['solution']?'right':'wrong'):'choose an option'}}</div>
  </div>
  
</div>
